<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg">
    <h1></h1>
    <div class="topnav">
      <p>
        <caption><%= title %></caption>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <caption><%= subheading %></caption>    
      </p>
    </div>
    <br>
    <table>

      <tr>
        <th>ID</th><th>Term</th><th>Description</th><th>References</th>
      </tr>

      
      
      <% list.forEach( (item) => { %>

        
          
          <tr>
            <td><%= item.sno %></td>
            <td><%= item.term %></td>
            <td><%= item.def %></td>      
            <td><%= item.ref %></td>
          <tr>

          
        

      <% }) %>

      


      
    </table>
  </body>
</html>
